body{
    height: 100vh;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}
.body{
    position: relative;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    color: #fff;
    font-size: larger;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
p{
    position: relative;
    top: 50px;
    width: 100%;
    text-align: center;
    font-size: 2rem;
}

#calc{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    padding: 20px;
    width: 450px;
    height: 550px;
    background-color: rgb(14, 15, 14);
    font-size: xx-large;
    text-align: center;
    border-radius: 15px;
    
}
#kaitou{
    position:relative;
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
    padding-right: 5px;
    font-size:3rem;
    border-radius: 5px;
    width: 430px;
    height: 100px;
    background-color: rgb(53, 52, 51);
}
.number{
    position:relative ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98px;
    height: 98px;
    background-color: rgb(53, 52, 51);
    border-radius: 50%;
    transition: ease-in-out 0.3s;
    border: 2px solid black;
}
.number:hover{
    font-weight: 900;
    background-color:darkslategray;
    color: white;
    transition: ease-in-out 0.3s;
    border: 2px solid darkslategray;
}
.sign{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98px;
    height: 98px;
    background-color: rgba(240, 143, 8, 0.976);
    border-radius: 50%;
    border: 2px solid black;
    transition: ease-in-out 0.3s;
}
.sign:hover{
    font-weight: 900;
    background-color:orangered;
    color: white;
    transition: ease-in-out 0.3s;
    border: 2px solid orangered;
}
/* 
#button-7{
    position:relative ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: rgb(53, 52, 51);
    border-radius: 50%;
}

#button-4{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;
    background-color: rgb(53, 52, 51);
    border-radius: 50%;
}  

#button-1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 100px;
    height: 100px;
    background-color: rgb(53, 52, 51);
    border-radius: 50%;
}

#button-0{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 100px;
    height: 100px;
    background-color: rgb(53, 52, 51);
    border-radius: 50%;
    
}

#button-8{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 100px;
    height: 100px;
    background-color: rgb(53, 52, 51);
    border-radius: 50%;
}

#button-9{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 100px;
    height: 100px; 
    background-color: rgb(53, 52, 51);
    border-radius: 50%;
    
}

#waru{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;
    background-color: rgba(240, 143, 8, 0.976);
    border-radius: 50%;
}

#button-5{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
   
    width: 100px;
    height: 100px;
    background-color: rgb(53, 52, 51);
    border-radius: 50%;
}

#button-6{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 100px;
    height: 100px;
    background-color: rgb(53, 52, 51);
    border-radius: 50%;
}
#kakeru{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
   
    width: 100px;
    height: 100px;
    background-color: rgba(240, 143, 8, 0.976);
    border-radius: 50%;
}

#button-2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;
    background-color: rgb(53, 52, 51);
    border-radius: 50%;
}

#button-3{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100px;
    height: 100px;
    background-color: rgb(53, 52, 51);
    border-radius: 50%;
}

#hiku{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 100px;
    height: 100px;
    background-color: rgba(240, 143, 8, 0.976);
    border-radius: 50%;
}

#sakujyo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
 
    width: 100px;
    height: 100px;
    background-color: rgba(240, 143, 8, 0.976);
    border-radius: 50%;

}
#tasu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100px;
    height: 100px;
    background-color: rgba(240, 143, 8, 0.976);
    border-radius: 50%;   
    
}
#keisan{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 100px;
    height: 100px;
    background-color: rgba(240, 143, 8, 0.976);
    border-radius: 50%;
    
} */